@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Philosopher:wght@700&display=swap');


body{
    
    margin: 0;
    line-height: 1.5;
    color: #333;
   overflow-x: hidden;

}
.nav{
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    padding: 10px;
    font-size: 30px;
    height: 80px;
    background-color: #1b0f4de7;

    
}
.nav-item{
    margin-right: 50px;
}
.logo{
   margin-right: 15px;
   margin-left: 15px;
    width: 100px;
    height: 50px;
}
.nosotros,.empresa{
    
margin: 200px;
width: 100% ;
height: 200px;
}
.nosotros, h3{
    font-size: 55px;
    margin: 25px;
}
.empresa, h3{
    
    font-size: 55px;
    margin-top: 60px;
    
}
.nosotros p{
    font-size: 35px;
    margin:25px;

}
.frase{
    margin-top: 200px;

}
.frase h2{
    text-align: center;
    color: rgb(247, 117, 25);
}

#slider{
    padding: 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    

}
#slider p {
    padding: 0;
    margin: 0;
    font-size: 30px;


}
#slider h5 {
    padding: 0;
    margin: 0;
    font-size: 45px;


}

.header{
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;

}
.content{
    max-width: 40rem;
    
    margin-right: 5%;
    margin-left: auto;
    text-align: center;
}
.header-video{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.header-video video{
    min-width: 100%;
    min-height: 100%;
}.header-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #171130e7;
    z-index: 1;
    opacity: .85;
}
.header-content{
    z-index: 2;
    
}
.header-content h1{
    font-size: 100px;
    margin-bottom:0 ;
    font-family: 'Caveat', cursive;
font-family: 'Philosopher', sans-serif;
   color: black;
    
    
}h2{
    color: white;
    font-size:80px;
    font-family: 'Caveat', cursive;
    font-family: 'Philosopher', sans-serif;
    
}
.header-content p{
    font-size: 2rem;
    display:block;
    padding-bottom: 2rem;
    
}
.btn{
    background: #3e2af0;
    color: white;
    font-size: 15px;
    text-decoration: none;
}.btna{
    background: #3e2af0;
    color: white;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    text-decoration: none;
}
footer{

    background-color: #1b0f4de7 ;
    padding: 10rem 0;

}
#contacto{
margin: 150px;


}

.contacto{
    padding: 0;
    margin-top: 25px;
    margin-left: 2rem;
    color: rgb(155, 155, 155);
    text-align: justify;
}
li{
    list-style: none;
}
.icono .titu {
font-size: 30px;

}
